
{{!-- <section>
    <div class="container   ">
        <div class="row">
            {{#each products}}
            <div class="card col-lg-3 col-md-4 col-sm-6 xm-12 mt-4 " style="border: none;">
                <img src="{{this.image}}" alt="...">
                <div class="card-body" style="background-color:rgb(248,249,250) ;">
                    <h5 class="card-title">{{this.brand}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p>{{this.price}} <b>INR</b></p>
                    <a href="#" class="btn btn-secondary">buy now</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</section> --}}